*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(210, 206, 200);
    background-color: rgb(24, 26, 27);
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: grey;
    margin-top: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
}