*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(210, 206, 200);
    background-color: rgb(24, 26, 27);
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

#containerLogin{
    width: 400px;
    margin: 0px auto;
    margin-top: 100px;
    
}

#containerRegistro{
    width: 400px;
    margin: 0px auto;
}

@media (min-widht:991px) {
    
}

header{
    height: 100px;
    width: 800px;
    text-align: left;
    line-height: 100px;
    color: white;
    font-size: 11px;
}


footer{
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: grey;
    margin-top: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.controles{
    width: 100%;
    background-color: rgb(24, 26, 27);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #eee;
    color: #eee;
}

.controles:hover{
    width: 100%;
    background-color: rgb(24, 26, 27);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(168, 157, 1);;
    color: #eee;
}

.formulario a{
    color:  rgb(109, 109, 109);
    text-decoration: none;
}

.formulario a:hover{
    color: blue;
    text-decoration: underline;
}

.formulario p{
    text-align: center;
    margin-top: -10px;
}

.formulario .botones{
    width: 100%;
    background: rgb(168, 157, 1);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

.formulario .botones:hover{
    width: 100%;
    background: rgb(168, 157, 1);
    border: none;
    padding: 12px;
    color: rgb(2, 66, 18);
    margin: 16px 0;
    font-size: 16px;

}

.animacion{
    height: 200px;
    margin-top: 123px;
}